<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
    <form id="control" action="/" method="post">
        <h1>Pump Control</h1>
        <div id="switches">
				<label class="switchLabel">OFF</label>
				<label class="switch">
					<input id="checkbox" type="checkbox" name="pump" value="1" {{ state }}/>
					<span class="slider round"></span>
				</label>
				<label class="switchLabel">ON</label>
				<input id="checkboxHidden" type="hidden" name="pumpOff" value="0"/>
				</div>
        <button id="submit" type="submit">Submit</button>
    </form>
</body>
</html>
