<!DOCTYPE html>
<html>
<head>
	<link href="static/css/main.css" rel="stylesheet" />
</head>
<body>
	<form action="/" method="post">
		<label class="bs-switch">
			<input id="checkbox" type="checkbox" name="pump" value="1"/>
			<span class="slider round"></span>
		</label>
		<label class="bs-switch">
			<input id="checkboxHidden" type="hidden" name="pumpOff" value="0"/>
			<span class="slider round"></span>
		</label>
		<button type="submit">Submit</button>
	</form>
</body>
<!--<script>

	check.onclick = function() {
		var form = document.getElementById("pump");
		form.submit();
	}
</script>-->
</html>
