<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<form action="/" method="get" id="pump">
		<label class="bs-switch">
			<input id="checkbox" type="checkbox" name="pump" value="on" checked="checked">
			<span class="slider round"></span>
		</label>
		<label class="bs-switch">
			<input id="checkboxHidden" type="checkbox" name="pump" value="off">
			<span class="slider round"></span>
		</label>
		<button type="submit">Submit</button>
	</form>
</body>
<!--<script>

	check.onclick = function() {
		var form = document.getElementById("pump");
		form.submit();
	}
</script>-->
</html>
